[Unit]
Description=My ArchLinux Install Service

[Service]
User=$USER
Type=oneshot
ExecStart=/usr/bin/install_2.sh

[Install]
WantedBy=multi-user.target
